<!DOCTYPE HTML>
{# todo create some email master templates #}
<html>

    <head>

    </head>

    <body>
        <p>{{ 'email.users.you.might.be.interested.in'|trans }}:</p>

        {% for user in users %}
            <p>
                <a href="{{ url('musician_profile', {'username': user.username}) }}">{{ user.fullName }}</a>
            </p>
        {% endfor %}

        <p>
            You received this email because you subscribed to this search on Jamifind.
            If you want you can <a href="">unsubscribe</a>.
        </p>

    </body>
</html>