{% for m in messages %}
    <div class="col-md-12">
        <div class="col-sm-1">
            <a href="#" class="user-box-image-link">
                <img width="30" src="{{ asset(m.from.images.first.getWebPath|default('/images/placeholder-user.jpg')) | imagine_filter('my_thumb') }}" class="img-circle" />
            </a>
        </div>
        <div class="col-sm-11">
            <p>{{ m.from.username }}: {{ m.message }}</p>
        </div>
    </div>
{% endfor %}