{% extends '::base.html.twig' %}

{% block body %}

    <ul>
        {% for m in musicians %}
            <li>
                <a href="{{ path('musician_profile', {'username': m.username}) }}">{{ m.username }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}