{% extends '::base.html.twig' %}

{% block body %}

    {% include "JamWebBundle::navigation.html.twig" %}

    <section class="col-sm-10 main-content">
        <div class="main-content-inner">
            {% block main_content %}{% endblock %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </section><!--main-content ends-->

{% endblock %}