{% extends '::base.html.twig' %}

{% block body %}

    {% include "JamWebBundle::navigation.html.twig" %}

    <section class="col-sm-7 main-content">
        <div class="main-content-inner">

            {% block main_content %}{% endblock %}
            {% block fos_user_content %}{% endblock fos_user_content %}

        </div><!--main content inner ends-->
    </section><!--main-content ends-->

    {# why shouts why not general right sidebar #}
    <section class="col-sm-3 hidden-xs shouts-sidebar">
        <div class="sidebar-inner">
            {% block right_sidebar_content %}{% endblock %}
        </div>
    </section><!--shouts-sidebar ends-->

    <script type="text/template" id="musicianBoxTemplate">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="{{ app.request.getBaseURL() }}/m/<%- mu.username %>" class="people-grid">
                <img src="{{ app.request.getBaseURL() }}/m/<%- mu.username %>/avatar/medium_thumb" alt="<%- mu.username %>" class="img-responsive">
                <div class="people-info">
                    <h3 class="name"><%- mu.username %></h3>
                    <% if (mu.location) { %><div class="location"> <%- mu.location %></div><% } %>
                    <img class="instrument" src="{{ asset('images/icon-electric-guitar-v2.png') }}" alt="Guitar">
                    <ul class="tags">
                        <% _.each( mu.genres, function(v, k){ %>
                        <% if (k < 3){ %><li><%- v %></li><% } %>
                        <% }); %>
                    </ul>
                    <ul class="compatibility-box">
                        <li>
                            <img src="{{ asset('images/icon-compatibility.png') }}" alt="Compatibility">
                        </li>
                        <li class="compatibility">
                            <span>46%</span>
                            compatibility
                        </li>
                    </ul>
                </div>
            </a><!--people-grid ends-->
        </div>

    </script>

{% endblock %}
