{% extends '::base.html.twig' %}

{% block body %}

    {% include "JamWebBundle::navigation.html.twig" %}

    <section class="col-sm-7 main-content">

        {% block main_content %}{% endblock %}
        {% block fos_user_content %}{% endblock fos_user_content %}

    </section><!--main-content ends-->

    {# why shouts why not general right sidebar #}
    <section class="col-sm-3 shouts-sidebar">
        {% block right_sidebar_content %}{% endblock %}
    </section><!--shouts-sidebar ends-->

{% endblock %}
