{% extends '::base.html.twig' %}

{% block body %}

    {% include "JamWebBundle::navigation.html.twig" %}

    <section class="col-sm-10 main-content">

        {% block main_content %}{% endblock %}
        {% block fos_user_content %}{% endblock fos_user_content %}

    </section><!--main-content ends-->

    <script type="text/template" id="musicianBoxTemplate">
        <div class="col-lg-3">
            <div class="people-grid">
                <img src="{{ app.request.getBaseURL() }}/m/<%- mu.username %>/avatar/medium_thumb" alt="<%- mu.username %>" class="img-responsive">
                <div class="people-info people-info-right">
                    <h3 class="name"><a href="{{ app.request.getBaseURL() }}/m/<%- mu.username %>"><%- mu.username %></a> <br /></h3>
                    <% if (mu.location) { %><div class="location"> <%- mu.location %></div><% } %>
                    <ul class="tags">
                        <% _.each( mu.genres, function(v, k){ %>
                        <% if (k < 3){ %><li><%- v %></li><% } %>
                        <% }); %>
                    </ul>
                    <ul class="compatibility-box">
                        <li>
                            <img src="{{ asset('images/icon-compatibility.png') }}" alt="Compatibility">
                        </li>
                        <li class="compatibility">
                            <span>46%</span>
                            compatibility
                        </li>
                        <li class="last">
                            <img src="{{ asset('images/icon-piano.png') }}" alt="Piano" class="icon-piano">
                        </li>
                    </ul>
                </div>
            </div><!--people-grid ends-->
        </div>

    </script>

{% endblock %}
