{% extends '::baseAuth.html.twig' %}

{% block auth_content %}

    {% if is_granted("ROLE_USER") %}
        {% include "JamWebBundle:Common:navigation.html.twig" %}
    {% else %}
        <div class="col-lg-4">
            <div class="login-container">
                {{ app.session.set('preview', 'true') }}
                {{ render(controller('FOSUserBundle:Security:login')) }}
            </div>
        </div>
    {% endif %}

    <section class="{% if is_granted("ROLE_USER") %}col-md-10{% else %}col-lg-8 no-auth{% endif %} main-content">
        <div class="main-content-inner">
            {% block main_content %}{% endblock %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </section><!--main-content ends-->

{% endblock %}