{% extends '::baseAuth.html.twig' %}

{% block auth_content %}

    {% include "JamWebBundle:Common:navigation.html.twig" %}

    <section class="col-sm-8 col-md-7 main-content">
        <div class="main-content-inner">

            {% block main_content %}{% endblock %}
            {% block fos_user_content %}{% endblock fos_user_content %}

        </div><!--main content inner ends-->
    </section><!--main-content ends-->

    {# why shouts why not general right sidebar #}
    <section class="col-sm-4 col-md-3 hidden-xs shouts-sidebar">
        <div class="sidebar-inner">
            {% block right_sidebar_content %}{% endblock %}
        </div>
    </section><!--shouts-sidebar ends-->

{% endblock %}