{% extends '::base.html.twig' %}

{% block body %}

    <div class="col-md-6">
        <p>Genres: </p>
        <ul class="genres" data-prototype="{{ form_widget(form.genres.vars.prototype)|e }}" style="list-style-type: none">
            {% for tag in form.genres %}
                <li>{{ form_row(tag.name) }}</li>
            {% endfor %}
        </ul>
        {{ form(form) }}
    </div>

{% endblock %}