{% extends '::base.html.twig' %}

{% block body %}


    <p>Genres: </p>

    <ul class="genres" data-prototype="{{ form_widget(form.genres.vars.prototype)|e }}" style="list-style-type: none">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.genres %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>

    {{ form(form) }}


{% endblock %}