{% extends '::base.html.twig' %}

{% block body %}

    <ul>
        {% for j in jams %}
            <li>
                <a href="{{ path('view_jam', {'name': j.name, 'id': j.id}) }}">{{ j.name  }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}