{% extends '::base.html.twig' %}

{% block bodystyle %}
        background-image: url({{ asset('assets/images/background-dashboard.jpg') }})
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if is_granted("ROLE_USER") %}
                {% if not app.user.location or app.user.location.isTemporary %}
                    <div class="flash-message col-xs-12 no-location-message">
                        <div class="warning alert-warning">
                            Please <a href="{{ path('fos_user_profile_edit') }}">set your location</a> in order to be able to search people around you.
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <div class="fixed-alerts-container col-xs-12"></div>

            {% block auth_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

