{% extends '::page.html.twig' %}

{# USED ONLY FOR LAYOUTS WHEN NOT LOGGED IN #}

{% set bodyclass = "" %}
{% if not is_granted("ROLE_USER") %}
    {% set bodyclass = "login-page-user" %}
{% endif %}

{% block bodyclasses %}{{ bodyclass }}{% endblock %}

{% block body %}

    <div class="col-md-4">
        <div class="login-container" style="margin-top: 20px;">
            {{ app.session.set('preview', 'true') }}
            {{ render(controller('FOSUserBundle:Security:login')) }}
        </div>
    </div>

    <section class="{% if is_granted("ROLE_USER") %}col-sm-10{% else %}col-sm-8{% endif %} main-content" style="margin-top: 20px;">
        <div class="main-content-inner">

        {% block fos_user_content %}{% endblock fos_user_content %}

        </div>
    </section><!--main-content ends-->

{% endblock %}

