{% extends '::base.html.twig' %}

{# USED ONLY FOR LOGIN PAGE LAYOUT #}

{% block body %}
    <div class="fixed-alerts-container col-xs-12"></div>

    {% block fos_user_content %}{% endblock fos_user_content %}

{% endblock %}

{% block javascripts %}

    {% javascripts
    'vendor/jquery/jquery.js'
    'vendor/bootstrap/dist/js/bootstrap.js'
    'landing/js/ddscrollspy.js'
    'landing/js/placeholders.min.js'
    '@JamWebBundle/Resources/public/js/helpers.js'
    'vendor/underscore/underscore.js'
    'vendor/jquery-alphanum/jquery.alphanum.js'
    'assets/js/templates.js'
    'landing/js/script.js'
    filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}