{% block location_widget %}
    <style>
        .dropdown-menu{ z-index: 99}
    </style>
<div class="location_widget">
    <div class="input-group">
        {{ form_widget(form, { 'class' : 'clearfix' }) }}
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Map
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" style="display:block;display:none;">
                <li>
                    <div id="_location_map" class="location_map" style="width:560px;height:270px;"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}