@font-face {
	font-family: 'droidsans';
	src: url('../fonts/droidsans-webfont.eot');
	src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/droidsans-webfont.woff') format('woff'),
	url('../fonts/droidsans-webfont.ttf') format('truetype'),
	url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*****helper classes begins*****/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/*****helper classes ends*****/
/*****reset begins*****/
ul {
	list-style: none;	
	margin: 0;
	padding: 0;
}
/*****reset ends*****/
/*****global styles begins*****/
body.signup-page,
body.login-page {
	font-family: 'Open Sans', sans-serif;
	overflow: auto;
	padding-top: 55px;
}
.signup-page h1, .signup-page h2, .signup-page h3, .signup-page h5, .signup-page h6 {
	font-family: 'Crete Round', serif;
}
.signup-page h1, .signup-page h2, .signup-page h3, .signup-page h4, .signup-page h5, .signup-page h6 {
	margin: 0;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.signup-page h1, .signup-page h2, .signup-page h4 {
	color: #fff;
}
.signup-page h1 {
	font-size: 42px;
	line-height: 50px;
	text-shadow: 0px 0px 10px #000;
	padding-top: 20%;
}
.signup-page h2 {
	font-size: 40px;
	line-height: 48px;
}

#multimedia-home h2,
#multimedia-home h4 {
	color: #484848;
	text-shadow: none;
}

.signup-page h3 {
	font-size: 26px;
}
.signup-page h4 {
	font-size: 22px;
	padding-top: 20px;
	line-height: 32px;
	text-shadow: 0px 0px 10px #000;
}
.signup-page h5 {
	font-size: 20px;
}
.signup-page .hide {
	display: none;
}
/*****global styles ends*****/
/*****head begins*****/
.signup-page header,
.login-page header {
	background: #000;
	height: 55px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}
.signup-page .container {
	position: relative;
}
.signup-page header .container {
	max-width: 1170px;
	width: auto;
	padding: 0 15px;
}
.signup-page .logo {
	float: left;
	padding-top: 6px;
}

.signup-page .navbar-brand,
.login-page .navbar-brand {
	float: left;
	padding-top: 5px;
}

.navbar-brand {
	padding-top: 4px;
}

.social {
	float: right;
	margin-top: 12px;
}
.social	li {
	display: inline-block;
	margin: 0 0 0 25px;
}
.social li a {
	color: #fff;
	opacity: 0.6;
	font-size: 24px;
	padding: 0 5px;
	transition: all 0.2s ease;
}
.social li a:hover, .social li a:active {
	opacity: 1;
	transition: all 0.2s ease;
	background: none;
}
/*****head ends*****/

/**** map ****/
#map-home {
	background: #8FA1C9 url(../images/map2.jpg) center -56px no-repeat;
	min-height: 700px;
	overflow: hidden;
	position: relative;
}

#map-home .container {
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.map-text-bottom {
	position: absolute;
	bottom: 25px;
	width: 100%;
	text-align: center;
}

.mapContent {
	padding: 90px 35px 0 20px;
	width: auto;
}
.mapContent > h4 {
	margin-top: 20px;
}
.mapInteractive {
	bottom: 0;
	height: 377px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 16px;
	top: 266px;
	width: 375px;
	z-index: 10;
}
.mapInteractive .icon {
	position: absolute;
}
.mapInteractive .info > img {
	opacity: 0.8;
	display: block;
	transition: all 0.2s ease;
	cursor: pointer;
}
.mapInteractive .info:hover > img {
	opacity: 1;
	transition: all 0.2s ease;
}
.mapInteractive .icon.main {
	left: 47%;
	margin: 0 auto;
	top: 134px;
	opacity: 1;
	cursor: auto;
	width: 77px;
}
.mapInteractive .icon.guitar {
	left: 188px;
	top: 7px;
}
.mapInteractive .icon.drumms {
	right: 46px;
	top: 120px;
}

.mapInteractive .icon.sax {
	left: 26px;
	top: 90px;
}

.mapInteractive .icon.teacher {
	left: 135px;
	top: 283px;
}
.infoBoxSmall {
	height: 117px;
	left: -169px;
	position: absolute;
	top: -130px;
	width: 377px;
	z-index: 20;
	display:none;
}

.sax .infoBoxSmall {
	left: -50px;
}

.sax .infoBoxSmall::after{
	left: 16%;
}

.drumms .infoBoxSmall {
	left: -225px;
}

.drumms .infoBoxSmall::after{
	left: 63%;
}
.infoBox::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	width: 100%;
	opacity: 0.9;
}
.infoBoxSmall::before {
	background: #fff url(../images/infoBox-bg.png) no-repeat scroll right top;
	height: 117px;
}
.infoBoxSmall::after {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 11px solid #fff;
	bottom: -10px;
	content: "";
	height: 0;
	opacity: 0.9;
	position: absolute;
	width: 0;
	left: 48%;
}

.infoBoxSmall.teacher::after{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 11px solid #fff;
	left: -25px;
	top: 44%;
}

.profileImage {
	border-radius: 50%;
	float: left;
	overflow: hidden;
}
.infoBoxSmall .profileImage {
	border: 1px solid #fff;
	margin: 20px 15px 0;
	box-shadow: 0 0 0 5px #ececed;
}
.profileData {
	float: left;
	text-align: left;
}
.infoBoxSmall .profileData {
	margin: 11px 0 0;
	width: 190px;
}
.profileData h5 {
	margin-bottom: 7px;
}
.tags li {
	background: #fabc09;
	color: #000;
	float: left;
}
.infoBoxSmall .tags li {
	font-size: 10px;
	padding: 4px 7px;
	margin: 3px;
}
.compatibility {
	float: right;
	text-transform: uppercase;
	color: #fff;
}
.infoBoxSmall .compatibility {
	font-size: 8px;
	font-weight: bold;
	width: 70px;
	background: url(../images/compatibility.png) no-repeat center 13px;
	padding-top: 50px;
}
.compatibility span {
	color: #fabc09;
	display: block;
}
.infoBoxSmall .compatibility span {
	font-size: 14px;
	margin-bottom: 8px;
}
.infoBoxSmall.teacher {
	width: 290px;
	left: 71px;
	top: -35px;
}
.infoBoxSmall.teacher:before {
	background: url(../images/piano-bg.png) no-repeat right bottom #fff;
	height: 117px;
}
.infoBoxSmall.teacher .profileData {
	margin: 18px 0 0;
	width: 175px;
}
.teacher .lessons {
	font-size: 12px;
}
/**** map ****/

/*****page pagination begins*****/
ul.underlinemenu {
	top: 100px;
	background: none;
	box-shadow: none;
	padding: 0;
	width: auto;
	right: 20px;
	z-index: 300;
}
ul.underlinemenu li {
	display: block;
	padding: 0;
	margin: 0 0 15px;
}
ul.underlinemenu li a {
	border-radius: 50%;
	padding: 0;
	width: 15px;
	height: 15px;
	display: block;
	background: #fff;
	border: 1px solid #999;
	margin: 0;
}
ul.underlinemenu li a.selected, ul.underlinemenu li a:hover {
	background: #652978;
	border: 1px solid #652978;
}

.formError{
	color: firebrick;
	font-size: 16px;
	margin-top: 5px;
	background-color: #fff;
	float: left;
	padding: 4px;
}

.subscribeBox h4{
	color:  black;
	background-color: #fff;
	padding: 6px;
}

/*****page pagination ends*****/
/*****parallax backgrounds begins*****/

.login-container{
	margin: 20px auto;
}

.signup-page .login-container {
	margin-top: 50px;
}

.login-header p{
	font-family: "CooperHewitt Bold";
	color: #fff;
	font-size: 26px;
	font-weight: normal;
	margin: 0;
	padding-top: 25px;
	text-align: center;
	text-transform: uppercase;
}

#register-home {
	background-size: cover !important;
	min-height: 700px;
	overflow: hidden;
}
#multimedia-home {
	background: url(../images/media-bg.jpg) 50% 0 repeat fixed; 
	background-size: cover;
	min-height: 600px;
	padding-top: 90px;
}
#subscribe-home {
	background: url(../images/subscribe-bg.jpg) 50% 0 repeat fixed; 
	background-size: cover;
	min-height: 600px;
	padding-top: 140px;
	position: relative;
}

.copyright{
	bottom: 10px;
	color: #fff;
	font-size: 13px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

a.fast-subscribe{
	color: #fff;
	border: 2px solid #fff;
	float: right;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 12px;
	opacity: 0.6;
	padding: 2px 10px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease;
}

a.fast-subscribe:hover {
	opacity: 1;
}

/*****parallax backgrounds ends*****/
/*****responsive begins*****/
@media all and (max-width: 991px) {
	.mapContent {
		padding: 85px 20px 0 20px;
	}
	.mapContent > h4 {
		margin-top: 10px;
	}
	.container {
		width: 94%;
	}
	#profileSection {
		height: 1000px;
		padding-top: 50px;
	}
	#multimedia {
		height: auto;
		padding-top: 80px;
	}
	.infoBoxBig {
		height: auto;
	}
	.infoBoxBig:before {
		background-image: none;
	}
	.infoBoxBig .profileImage {
		margin-bottom: 31px;
	}
	.infoBoxBig .profileData {
		width: 60%;
	}
	.infoBoxBig .compatibility {
		display: block;
		width: 100%;
		float: none;
		clear: both;
		background: rgba(49,46,64, 0.9);
	}
	.infoBoxBig .compatibility > div {
		float: left;
		padding-bottom: 20px;
	}
	.infoBoxBig .compatibility .first {
		width: 45%;
		padding-top: 85px;
		background-position: 46% 20px;
	}
	.infoBoxBig .compatibility .last {
		width: 55%;
		padding-top: 85px;
		background-position: 44% 20px;
	}
	.infoBoxBig .compatibility .last span {
		top: 23%;
	}
	.bands {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.bands:before {
		background: #18152b;
		height: 43px;
	}
	.bands .title {
		padding: 5px 10px;
	}
	.bandsList {
		background: rgba(233,228,222, 0.9);
		width: 100%;
		overflow: hidden;
	}
	.bandsList li, .brands .bandsList li {
		padding: 10px;
		text-align: left;
		width: 44%;
	}
	.mediaText {
		clear: both;
		float: none;
		margin: 0 auto;
		padding-bottom: 80px;
		padding-right: 237px;
	}
	.mediaText h2 {
		background-size: 10%;
	}
	.mediaImage {
		float: none;
		display: block;
		margin: 0 auto;
		clear: both;
	}
	ul.underlinemenu {
		right: 5px;
	}
}
@media all and (max-width: 767px) {
	.container {
		width: 100%;
	}
	.signup-page header,
	.login-page header {
		height: auto;
	}
	.signup-page .navbar-brand,
	.login-page .navbar-brand {
		padding-top: 9px;
	}
	.navbar-brand .outer {
		display: block;
		font-size: 9.5px;
		left: auto;
		right: -20px;
		top: -8px;
	}
	.navbar-brand img {
		max-width: 110px;
	}
	.signup-page .navbar-brand,
	.login-page .navbar-brand {
		float: none;
	}
	.social {
		float: none;
		text-align: center;
	}
	.social li {
		margin: 5px 10px;
	}
	.navbar-toggle {
		margin: 8px 0 0;
		z-index: 100;
	}
	a.fast-subscribe {
		font-size: 12px;
		margin-top: 15px;
	}
	.navbar-collapse {
		clear: both;
		margin: 0 -15px;
	}
	.signup-page h1 {
		font-size: 28px;
		line-height: 34px;
	}
	.signup-page h2 {
		font-size: 24px;
		line-height: 28px;
	}
	.signup-page h4 {
		font-size: 17px;
		line-height: 24px;
	}
	#profileSection h4 {
		margin-bottom: 25px; 
	}
	#subscribe .container {
		width: 500px;
	}
	#subscribe h2 {
		margin: 0 0 45px;
	}
	.inputField {
		width: 320px;
	}
	.infoBoxBig:before {
		height: 194px;
	}
	.infoBoxBig .profileImage {
		margin: 20px;
	}
	.infoBoxBig .profileImage > img {
		width: 80px;
	}
	.infoBoxBig .profileData {
		margin: 10px 0 0;
		width: 70%;
	}
	.infoBoxBig .profileData h3, .dataInner {
		margin: 0;
	}
	.infoBoxBig .tags {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.infoBoxBig .tags li {
		font-size: 14px;
	}

	#multimedia-home {
		min-height: 450px;
	}
	#subscribe-home {
		min-height: 450px;
	}

}
@media all and (max-width: 580px) {
	
	.mapContent {
		padding: 85px 0 0;
	}
	h1 {
		font-size: 28px;
		line-height: 32px;
	}
	h2 {
		font-size: 26px;
		line-height: 30px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 20px;
	}
	header .container {
		padding: 0 10px;
	}
	#map-home {
		background-size: auto 100%;
		background-position: center 50px;
	}
	.mapInteractive {
		width: 300px;
	}
	.mapInteractive .icon.main {
		top: 136px;
	}
	.mapInteractive .icon.drumms {
		right: 21px;
	}
	.mapInteractive .icon.guitar {
		left: 157px;
		top: 20px;
	}
	.mapInteractive .icon.teacher {
		left: 43px;
		top: 211px;
	}
	.infoBoxBig .compatibility .last span {
		right: 15%;
	}
	#profileSection {
		padding-top: 35px;
	}
	#profileSection h4 {
		margin: 20px 0;
	}
	.infoBoxBig {
		background: rgba(255,255,255, 0.9);
	}
	.infoBoxBig:before {
		height: auto;
	}
	.infoBoxBig .profileImage {
		margin: 20px 10px;
	}
	.infoBoxBig .profileImage > img {
		width: 60px;
	}
	.dataInner {
		font-size: 12px;
		line-height: 16px;
	}
	.dataInner > span {
		height: 40px;
	}
	.infoBoxBig .tags {
		width: 245px;
	}
	.infoBoxBig .tags li {
		font-size: 12px;
		padding: 3px 6px;
	}
	.infoBoxBig .compatibility {
		font-size: 12px;
	}
	.infoBoxBig .compatibility > div {
		padding-bottom: 10px;
	}
	.infoBoxBig .compatibility .first {
		background-size: 65%;
		background-position: 40% 20px;
		padding-top: 70px;
	}
	.infoBoxBig .compatibility .last {
		background-size: 25%;
		background-position: 38% 20px;
		padding-top: 70px;
	}
	.infoBoxBig .compatibility .last span {
		top: 23%;
	}
	.bands .title {
		display: block;
		float: none;
		font-size: 18px;
		width: auto;
		background: none repeat scroll 0 0 rgba(49, 46, 64, 0.9);
	}
	.bands {
		margin-top: 15px;
	}
	.bands:before {
		height: auto;
	}
	.bandsList li, .brands .bandsList li {
		width: 100%;
		padding: 5px 10px;
	}
	.mediaText {
		float: left;
		padding: 0;
	}
	.mediaImage {
		width: 100%;
	}
	#subscribe .container {
		width: 94%;
	}
	.inputField, .submitBtn {
		width: 96%;
	}
	.inputField, .submitBtn {
		margin: 10px auto;
		float: none;
	}
}
@media all and (max-width: 480px) {
	.login-header p {
		font-size: 20px;
		padding-top: 14px;
	}
}
@media all and (max-width: 400px) {
	.infoBoxBig .tags {
		position: relative;
		left: -50px;
	}
}