@font-face {
	font-family: 'droidsans';
	src: url('../fonts/droidsans-webfont.eot');
	src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/droidsans-webfont.woff') format('woff'),
	url('../fonts/droidsans-webfont.ttf') format('truetype'),
	url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*****helper classes begins*****/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/*****helper classes ends*****/
/*****reset begins*****/
ul {
	list-style: none;	
	margin: 0;
	padding: 0;
}
/*****reset ends*****/
/*****global styles begins*****/
body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h5, h6 {
	font-family: 'Crete Round', serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2, h4 {
	color: #fff;
}
h1 {
	font-size: 46px;
	line-height: 54px;
	text-shadow: 0 0 1px rgba(255,255,255, 0.5);
}
h2 {
	font-size: 40px;
	line-height: 48px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
.hide {
	display: none;
}
/*****global styles ends*****/
/*****head begins*****/
header {
	background: #000;
	opacity: 0.7;
	height: 55px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}
.container {
	margin: 0 auto;
	text-align: center;
	position: relative;
	width: 860px;
}
header .container {
	max-width: 1100px;
	width: auto;
	padding: 0 50px;
}
.logo {
	float: left;
	padding-top: 6px;
}
.social {
	float: right;
	margin-top: 12px;
}
.social	li {
	display: inline-block;
	margin: 0 5px 0 25px;
}
.social li a {
	color: #fff;
	opacity: 0.6;
	font-size: 24px;
	padding: 0 5px;
	transition: all 0.2s ease;
}
.social li a:hover {
	opacity: 1;
	transition: all 0.2s ease;
}
.mapContent {
	padding: 105px 20px 0 20px;
	width: auto;
}
.mapContent > h4 {
	margin-top: 20px;
}
.mapInteractive {
	bottom: 0;
	height: 377px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 16px;
	top: 266px;
	width: 375px;
	z-index: 10;
}
.mapInteractive .icon {
	position: absolute;
}
.mapInteractive .info > img {
	opacity: 0.8;
	display: block;
	transition: all 0.2s ease;
	cursor: pointer;
}
.mapInteractive .info:hover > img {
	opacity: 1;
	transition: all 0.2s ease;
}
.mapInteractive .icon.main {
	left: 40%;
	margin: 0 auto;
	top: 151px;
	opacity: 1;
	cursor: auto;
	width: 77px;
}
.mapInteractive .icon.guitar {
	left: 188px;
	top: 7px;
}
.mapInteractive .icon.drumms {
	right: 46px;
	top: 100px;
}
.mapInteractive .icon.teacher {
    left: 119px;
    top: 283px;
}
.infoBoxSmall {
	height: 117px;
	left: -169px;
	position: absolute;
	top: -130px;
	width: 377px;
	z-index: 20;
	visibility: hidden;
	transition: all 0.2s ease;
}
.info:hover .infoBoxSmall {
	visibility: visible;
	transition: all 0.2s ease;
}
.infoBox::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	width: 100%;
	opacity: 0.9;
}
.infoBoxSmall::before {
	background: #fff url(../images/infoBox-bg.png) no-repeat scroll right top;
	height: 117px;
}
.infoBoxSmall::after {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 11px solid #fff;
	bottom: -10px;
	content: "";
	height: 0;
	opacity: 0.9;
	position: absolute;
	width: 0;
	left: 48%;
}
.profileImage {
	border-radius: 50%;
	float: left;
	overflow: hidden;
}
.infoBoxSmall .profileImage {
	border: 1px solid #fff;
	margin: 20px 15px 0;
	box-shadow: 0 0 0 5px #ececed;
}
.profileData {
	float: left;
	text-align: left;
}
.infoBoxSmall .profileData {
	margin: 11px 0 0;
	width: 190px;
}
.profileData h5 {
	margin-bottom: 7px;
}
.tags li {
	background: #6fdfff;
	color: #000;
	float: left;
}
.infoBoxSmall .tags li {
	font-size: 12px;
	padding: 4px 7px;
	margin: 3px;
}
.compatibility {
	float: right;
	text-transform: uppercase;
	color: #fff;
}
.infoBoxSmall .compatibility {
	font-size: 8px;
	font-weight: bold;
	width: 70px;
	background: url(../images/compatibility.png) no-repeat center 13px;
	padding-top: 50px;
}
.compatibility span {
	color: #6fdfff;
	display: block;
}
.infoBoxSmall .compatibility span {
	font-size: 14px;
	margin-bottom: 8px;
}
.infoBoxSmall.teacher {
	width: 290px;
	left: -129px;
}
.infoBoxSmall.teacher:before {
	background: url(../images/piano-bg.png) no-repeat right bottom #fff;
	height: 117px;
}
.infoBoxSmall.teacher .profileData {
	margin: 18px 0 0;
	width: 175px;
}
.teacher .lessons {
	font-size: 12px;
}
/*****head ends*****/
/*****profile section begins*****/
#profileSection h4 {
	margin: 25px 0 50px;
}
.infoBoxBig {
	width: 100%;
	height: 257px;
	position: relative;
	z-index: 20;
}
.infoBoxBig::before {
	background: #fff url(../images/infoBoxBig-bg.png) no-repeat scroll right top;
	height: 257px;
}
.infoBoxBig .profileImage {
	border: 3px solid #fff;
	margin: 33px 33px 0;
	box-shadow: 0 0 0 9px #ece7e1;
}
.infoBoxBig .profileData {
	margin: 26px 0 0;
	width: 350px;
}
.infoBoxBig .profileData h3 {
	margin-bottom: 15px;
}
.dataInner {
	font-size: 16px;
	line-height: 20px;
	color: #000;
	display: table;
	padding-left: 38px;
	margin: 10px 35px 10px 0;
}
.dataInner.location {
	background: url(../images/data-location.png) no-repeat 3px center;
	font-weight: 600;
}
.dataInner.about {
	background: url(../images/data-about.png) no-repeat 3px center;
}
.dataInner > span {
	display: table-cell;
	vertical-align: middle;
	height: 44px;
}
.infoBoxBig .tags {
	margin-top: 15px;
}
.infoBoxBig .tags li {
	font-size: 16px;
	padding: 5px 12px;
	margin: 5px; 
	transition: all 0.2s ease;
}
.infoBoxBig .tags li:hover{
	color: #fff;
	background-color: #652978;
	cursor: pointer;
	transition: all 0.2s ease;
}

.infoBoxBig .compatibility {
	width: 200px;
	font-size: 13px;
	font-weight: 600;
}
.infoBoxBig .compatibility > div {
	position: relative;
}
.infoBoxBig .compatibility .first {
	padding-top: 93px;
	background: url(../images/icon-guitar-big.png) no-repeat 23px 25px;
}
.infoBoxBig .compatibility .last {
	padding-top: 103px;
	background: url(../images/compatibility-big.png) no-repeat 25px 33px;
}
.infoBoxBig .compatibility .last span {
	font-size: 20px;
	font-weight: 700;
	position: absolute;
	left: 58%;
	top: 43px;
}
.bands {
	height: 80px; 
	margin-top: 25px;
	position: relative;
	z-index: 20;
}
.bands::before {
	content: '';
	height: 79px;
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0.9;
	z-index: -1;
	background: #e9e4de url(../images/bands.png) no-repeat -80px 0;
}
.bands .title {
	font-size: 24px;
	color: #faf3ec;
	font-family: 'Crete Round', serif;
	float: left;
	padding: 22px;
	text-align: left;
}
.influencers .title {
	width: 135px;
}
.bandsList li {
	float: left;
	padding: 12px 6px;
	font-size: 15px;
	line-height: 55px;
}
.bandsList li img {
	float: left;
	margin-right: 10px;
}
.brands::before {
	background-position: 0 0;
}
.brands .title {
	width: 230px;
}
.brands .bandsList li img {
	margin-right: 20px;
}
.brands .bandsList li {
	font-weight: 600;
	padding: 12px 10px;
}
/*****profile section ends*****/
/*****multimedia begins*****/
.mediaText {
	width: 285px;
	float: left;
	text-align: left;
}
.mediaText h2 {
	color: #000;
	background: url(../images/media-icon.png) no-repeat 217px bottom;
}
.mediaText p {
	font-size: 22px;
	line-height: 26px;
	color: #252525;
}
.mediaImage {
	float: right;
}
/*****multimedia ends*****/
/*****subscribe begins*****/
#subscribe .container {
	width: 735px;
}
#subscribe h2 {
	margin: 0 30px 45px;
	background: url(../images/tune-icon.png) no-repeat center top;
	padding-top: 107px;
}
.inputField {
	box-sizing: border-box;
	height: 76px;
	background: rgba(255,255,255, 0.9);
	border: none;
	outline: none;
	float: left;
	width: 555px;
	padding: 0 20px;
	font-size: 20px;
	transition: box-shadow 0.2s ease;
}
.inputField:focus {
	box-shadow: 0 0 4px 0 #652978 inset; 
	transition: box-shadow 0.2s ease;
}
.submitBtn {
	width: 180px;
	background: #652978;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-family: 'Crete Round', serif;
	height: 76px;
	color: #fff;
	font-size: 24px;
	float: right;
}
/*****subscribe ends*****/
/*****page pagination begins*****/
ul.underlinemenu {
	top: 100px;
	background: none;
	box-shadow: none;
	padding: 0;
	width: auto;
	right: 20px;
	z-index: 300;
}
ul.underlinemenu li {
	display: block;
	padding: 0;
	margin: 0 0 15px;
}
ul.underlinemenu li a {
	border-radius: 50%;
	padding: 0;
	width: 15px;
	height: 15px;
	display: block;
	background: #fff;
	border: 1px solid #999;
	margin: 0;
}
ul.underlinemenu li a.selected, ul.underlinemenu li a:hover {
	background: #652978;
	border: 1px solid #652978;
}

.formError{
    color: firebrick;
    font-size: 16px;
    margin-top: 5px;
    background-color: #fff;
    float: left;
    padding: 4px;
}

.subscribeBox h4{
    color:  black;
    background-color: #fff;
    padding: 6px;
}

/*****page pagination ends*****/
/*****parallax backgrounds begins*****/
#map {
	background: url(../images/map-bg.png) center center no-repeat; 
	min-height: 700px;
	overflow: hidden;
}
#profileSection {
	background: url(../images/profile-bg.jpg) 50% 0 repeat fixed; 
	background-size: cover;
	min-height: 773px;
	padding-top: 102px;
}
#multimedia {
	background: url(../images/media-bg.jpg) 50% 0 repeat fixed; 
	background-size: cover;
	min-height: 560px;
	padding-top: 156px;
}
#subscribe {
	background: url(../images/subscribe-bg.jpg) 50% 0 repeat fixed; 
	background-size: cover;
	min-height: 650px;
	padding-top: 140px;
}
/*****parallax backgrounds ends*****/
/*****responsive begins*****/
@media all and (max-width: 940px) {
	.mapContent {
		padding: 85px 20px 0 20px;
	}
	.mapContent > h4 {
		margin-top: 10px;
	}
	.container {
		width: 94%;
	}
	#profileSection {
		height: 1000px;
		padding-top: 50px;
	}
	#multimedia {
		height: auto;
		padding-top: 80px;
	}
	.infoBoxBig {
		height: auto;
	}
	.infoBoxBig:before {
		background-image: none;
	}
	.infoBoxBig .profileImage {
		margin-bottom: 31px;
	}
	.infoBoxBig .profileData {
		width: 60%;
	}
	.infoBoxBig .compatibility {
		display: block;
		width: 100%;
		float: none;
		clear: both;
		background: rgba(49,46,64, 0.9);
	}
	.infoBoxBig .compatibility > div {
		float: left;
		padding-bottom: 20px;
	}
	.infoBoxBig .compatibility .first {
		width: 45%;
		padding-top: 85px;
		background-position: 46% 20px;
	}
	.infoBoxBig .compatibility .last {
		width: 55%;
		padding-top: 85px;
		background-position: 44% 20px;
	}
	.infoBoxBig .compatibility .last span {
		top: 23%;
	}
	.bands {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.bands:before {
		background: #18152b;
		height: 43px;
	}
	.bands .title {
		padding: 5px 10px;
	}
	.bandsList {
		background: rgba(233,228,222, 0.9);
		width: 100%;
		overflow: hidden;
	}
	.bandsList li, .brands .bandsList li {
		padding: 10px;
		text-align: left;
		width: 44%;
	}
	.mediaText {
		clear: both;
		float: none;
		margin: 0 auto 50px;
		padding-right: 237px;
	}
	.mediaText h2 {
		background-size: 10%;
	}
	.mediaImage {
		float: none;
		display: block;
		margin: 0 auto;
		clear: both;
	}
	ul.underlinemenu {
		right: 5px;
	}
}
@media all and (max-width: 780px) {
	h1 {
		font-size: 42px;
		line-height: 50px;
	}
	h2 {
		font-size: 34px;
		line-height: 40px;
	}
	#profileSection h4 {
		margin-bottom: 25px; 
	}
	#subscribe .container {
		width: 500px;
	}
	#subscribe h2 {
		margin: 0 0 45px;
	}
	.inputField {
		width: 320px;
	}
	.infoBoxBig:before {
		height: 194px;
	}
	.infoBoxBig .profileImage {
		margin: 20px;
	}
	.infoBoxBig .profileImage > img {
		width: 80px;
	}
	.infoBoxBig .profileData {
		margin: 10px 0 0;
		width: 70%;
	}
	.infoBoxBig .profileData h3, .dataInner {
		margin: 0;
	}
	.infoBoxBig .tags {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.infoBoxBig .tags li {
		font-size: 14px;
	}
}
@media all and (max-width: 580px) {
	.container {
		width: 96%;
	}
	.mapContent {
		padding: 85px 0 0;
	}
	h1 {
		font-size: 28px;
		line-height: 32px;
	}
	h2 {
		font-size: 26px;
		line-height: 30px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 20px;
	}
	header .container {
		padding: 0 10px;
	}
	.logo {
		padding-top: 15px;
		width: 120px;
	}
	.logo img {
		width: 100%;
	}
	.social li {
		margin-left: 10px;
	}
	.social li:first-child {
		margin-left: 0;
	}
	#map {
		background-size: auto 100%;
	}
	.mapInteractive {
		width: 300px;
	}
	.mapInteractive .icon.main {
		top: 136px;
	}
	.mapInteractive .icon.drumms {
		right: 21px;
	}
	.mapInteractive .icon.guitar {
		left: 157px;
		top: 20px;
	}
	.mapInteractive .icon.teacher {
		left: 43px;
		top: 211px;
	}
	.infoBoxBig .compatibility .last span {
		right: 15%;
	}
	#profileSection {
		padding-top: 35px;
	}
	#profileSection h4 {
		margin: 20px 0;
	}
	.infoBoxBig {
		background: rgba(255,255,255, 0.9);
	}
	.infoBoxBig:before {
		height: auto;
	}
	.infoBoxBig .profileImage {
		margin: 20px 10px;
	}
	.infoBoxBig .profileImage > img {
		width: 60px;
	}
	.dataInner {
		font-size: 12px;
		line-height: 16px;
	}
	.dataInner > span {
		height: 40px;
	}
	.infoBoxBig .tags {
		width: 245px;
	}
	.infoBoxBig .tags li {
		font-size: 12px;
		padding: 3px 6px;
	}
	.infoBoxBig .compatibility {
		font-size: 12px;
	}
	.infoBoxBig .compatibility > div {
		padding-bottom: 10px;
	}
	.infoBoxBig .compatibility .first {
		background-size: 65%;
		background-position: 40% 20px;
		padding-top: 70px;
	}
	.infoBoxBig .compatibility .last {
		background-size: 25%;
		background-position: 38% 20px;
		padding-top: 70px;
	}
	.infoBoxBig .compatibility .last span {
		top: 23%;
	}
	.bands .title {
		display: block;
		float: none;
		font-size: 18px;
		width: auto;
		background: none repeat scroll 0 0 rgba(49, 46, 64, 0.9);
	}
	.bands {
		margin-top: 15px;
	}
	.bands:before {
		height: auto;
	}
	.bandsList li, .brands .bandsList li {
		width: 100%;
		padding: 5px 10px;
	}
	.mediaText {
		float: left;
		padding: 0;
	}
	.mediaImage {
		width: 100%;
	}
	#subscribe .container {
		width: 94%;
	}
	.inputField, .submitBtn {
		width: 96%;
	}
	.inputField, .submitBtn {
		margin: 10px auto;
		float: none;
	}
}
@media all and (max-width: 400px) {
	.infoBoxBig .tags {
		position: relative;
		left: -50px;
	}
}