body {
    background-color: #F2ECE8;
    padding-bottom: 40px;
    padding-top: 60px;
}

body{
    /*cornsilk*/
    /*ivory*/
    /*ghostwhite*/
    /*beige*/
    /*oldlace*/
}

.bar {
    height: 18px;
    background: green;
}

html body #map-canvas {
    height: 600px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    clear: both;
}

.navbar{
    background-color: #000;
    opacity: 0.8;
}

.navbar-brand{
    padding: 4px 10px 0 0;
}

.navbar-default .navbar-nav > li > a{
    color: #e3e3e3;
}

.navbar-default .navbar-brand{
    color: #e3e3e3;
    font-size: 34px;
}

a{
    color: #8A8E97;
}

.user-box-image-link{
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 10px;
}

.musician-box{
    background-color: #fff;
    margin: 0 10px 10px 0;
    padding: 5px;
    height: 70px;
    border:1px solid #e5e5e5;
}

.musician-box.teacher{
    background-color: #feffde;
}

.musician-map-box{
    width: 120px;
    height: 120px;
}

.musician-map-box.teacher{
    background-color: #feffde;
}

.musician-box-details{
    float:left;
}

.musician-box-location{
    display: block;
    font-size: 10px;
    color: gray;
    font-style: italic;
}

.musician-box-location i{
    color: purple;
}

.musician-box .musician-box-image-link{
    float:left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 8px;
}

.select2-container.form-control{
    padding: 0;
    height: auto;
}

.musician-box-genres{
    font-size: 11px;
    font-style: italic;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.conversation-box{
    background-color: #fff;
    padding: 10px;
    border-bottom:1px dotted silver;
}

.conversation-box.active{
    background-color: #f4f8fa;
}

.conversation-message-box{
    background-color: #fff;
    padding: 10px;
    border-bottom:1px dotted silver;
    max-height: 400px;
    overflow-y: scroll;
}

.conversation-message-box p{
    display: none;
}

.conversation-box:hover{
    border: 1px solid silver;
    cursor: pointer;
}

.message-time{
    float: right;
    font-size: 11px;
    color: silver;
}

.send-message{
    resize: none;
}

.map-view-container{
    position: relative;
}

.map-view-container .filter-container{
    position: absolute;
    top: 0;
    background-color: oldlace;
    opacity: 0.85;
}

.filter-container{
    border: 1px solid black;
    padding-bottom: 10px;
}

#search_form_distance{
    display: none;
}

.musician-box-image-link{

}

.connect-with-facebook-btn{
    background: url('../images/facebook-connect-button.png');
    width: 180px;
    height: 40px;
    display: inline-block;
    background-size: 180px 40px;
}

.connect-with-soundcloud-btn{
    background: url('http://connect.soundcloud.com/2/btn-connect-sc-m.png');
    width: 207px;
    height: 25px;
    display: inline-block
}

.profile-media-wall .image-holder{
    float:left;
    position: relative;
}

.profile-media-wall .image-holder .remove-image{
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    top:2px;
    right: 1px;
}

.profile-media-wall .set-profile-photo{
    padding: 0 2px;
    font-size: 11px;
}

.profile-media-wall .set-profile-photo:hover{
    text-decoration: none;
}

.profile-media-wall .profile-media-image-commands{
    position: absolute;
    top: 0;
    background-color: #fff;
    opacity: 0.9;
    right: 0;
    padding: 2px;
    display: none;
}

.profile-media-wall .profile-media-wall-item:hover > .profile-media-image-commands{
    display: block;
}

.fileinput-button{
    position: relative;
}

.fileinput-button input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
}

.progress{
    margin-top: 10px;
}


.profile-avatar-container{
    padding: 10px 0;
    position: relative;
}

.profile-avatar-container h4{
    margin-top: 35px;
    padding-left: 0;
}

.profile-send-message{
    position: absolute;
    top: 10px;
    right: 0px;
}

.profile-profile-column{
    opacity: .92;
    background-color: #fff;
    outline: 1px solid #e0e0e0;
    min-height: 700px;
}

.profile-profile-column h4{
    padding: 6px 10px;
    background-color: #382F3A;
    color: #fff;
    margin-top: 0;
    font-size: 16px;
}

.profile-profile-column .profile-shout{
    padding: 15px 20px;
    border-bottom:1px solid black;
}

.profile-profile-column .profile-shout hr{
    margin: 8px 0;
}

.profile-media-wall{
    background-color: #fff;
    outline:1px solid #e0e0e0;
    padding: 15px;
}

.profile-media-wall-image img{
    padding: 3px;
}

.profile-media-wall iframe{
    padding: 5px;
}


#fos_user_profile_form_aboutMe{
    height: 180px;
}

.profile-genres{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.profile-genres li a{
    background-color: #6fdfff;
    color: #000;
    padding: 4px 8px;
    float: left;
    margin-right: 4px;
    margin-top: 5px;
    text-decoration: none;
}

.profile-genres li a:hover{
    background-color: #652978;
    color: #fff;
}

#list .filter-container{
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

#search_form label{
    font-size: 12px;
}

.profile-about-me{
    font-size: 13px;
    font-style: italic;
}

.tab-content.full-screen{
    position: absolute;
    width: 100%;
    top: 51px;
    left: 0;
}

.shouts-view-container .musician-box{
    height: auto;
    padding: 10px;
}

.shouts-view-container hr{
    margin-top: 10px;
    margin-bottom: 2px;
}

.shout-created-at{
    font-size: 11px;
    font-style: italic;
}

#upload_images{
    height: 33px;
    width: 110px;
}

.preview-thumb canvas{
    width: 80px;
}

#files input{
    display: none;
}

#files .preview-container{
    float: left;
}

#files .preview-thumb{
    padding: 5px;
}

.flash-message.alert-warning{
    margin-bottom: 10px;
    padding: 10px;
}

#musician-info .select2-container-multi .select2-choices {
    height: 70px !important;
    overflow: auto;
}

#form_text{
    resize: none;
}

.shouts-view-container{
    margin-top: -14px;
}

#addPhotosToggle{
    margin-bottom: 10px;
}

.profile-add-photos{
    display: none;
}

#musician_videos{
    list-style-type: none;
    padding:0;
}

#musician_videos li{
    margin-bottom: 10px;
}