{% if is_granted('ROLE_USER') %}

    <div class="conversation">

        <div class="conversation-close clearfix">
            <a href="#" class="close-link"><i class="glyphicon glyphicon-remove"></i>close conversation</a>
        </div>
        <!--conversation-close ends-->

        <div class="conversation-new">
            <input type="text" class="form-control autocomplete" placeholder="+ Type a name">
        </div>

        <div class="conversation-container conversation-message-box"></div>
        <!--conversation-container ends-->

        <div class="conversation-send">
            <form role="form">
                <textarea class="form-control send-message" rows="2" placeholder="Write message" maxlength="1000"></textarea>
                <button type="submit" class="btn btn-primary send-message-btn"><i class="fa fa-paper-plane"></i> Send</button>
            </form>
        </div>
        <!--conversation-send ends-->

    </div><!--conversation ends-->

{% endif %}