{% if is_granted('ROLE_USER') %}

    <div class="conversation">

        <div class="conversation-close clearfix hidden-xs">
            <a href="#" class="close-link" title="Close conversation"><i class="glyphicon glyphicon-remove"></i>close conversation</a>
        </div>

        <a href="#" class="close-link close-link-mobile pull-right visible-xs-inline-block" title="Close conversation"><i class="glyphicon glyphicon-remove"></i></a>

        <!--conversation-close ends-->

        <div class="conversation-new">
            <input type="text" class="form-control autocomplete" placeholder="+ Type a name">
        </div>

        <div class="conversation-container conversation-message-box"></div>
        <!--conversation-container ends-->

        <div class="conversation-send">
            <form role="form" class="row">
                <div class="col-xs-9 col-md-12 col-lg-12">
                    <textarea class="form-control send-message" rows="1" placeholder="Write message" maxlength="1000"></textarea>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-primary send-message-btn"><i class="fa fa-paper-plane"></i><span class="hidden-xs"> Send</span></button>
                </div>
            </form>
        </div>
        <!--conversation-send ends-->

    </div><!--conversation ends-->

{% endif %}