{% extends 'JamWebBundle::layoutNoSidebar.html.twig' %}

{% block main_content %}

    <div class="row messages-header" style="padding-top: 20px;">
        <div class="col-xs-12">
            <h1 class="title">{{ 'text.messages'|trans }}</h1>
            <a href="#" style="max-width: 220px" class="btn btn-compose">+ {{ 'text.compose.new.message'|trans }}</a>
        </div>
    </div><!--messages-header ends-->

    <div class="row messages-container">
        <div class="col-xs-12 conversations-box"></div>
    </div><!--messages-container ends-->

{% endblock %}