{% extends 'JamWebBundle::layoutNoSidebar.html.twig' %}

{% block bodyclasses %}page-messages{% endblock %}

{% block main_content %}

    <div class="row messages-header">
        <div class="col-xs-12">
            <h1 class="title">{{ 'text.messages'|trans }}</h1>
            <a href="#" class="btn btn-compose">+ <span>{{ 'text.compose.new.message'|trans }}</span></a>
        </div>
    </div><!--messages-header ends-->

    <div class="row messages-container">
        <div class="col-xs-12 conversations-box"></div>
    </div><!--messages-container ends-->

{% endblock %}