{% extends '::base.html.twig' %}

{% block body %}

    <div class="col-md-6">
        <p>TODO: </p>

        <ul>
            <li>Connection to Soundcloud</li>
            <li>Connection to Facebook, invite friends</li>
            <li>Teachers profile ratings?</li>
            <li>My previous shouts listed in my profile sidebar</li>
            <li>Paginate everything</li>
            <li>Shout limitation? One per hour?</li>
            <li>Connect user to Facebook, Soundcloud if he is already logged in</li>
            <li>Who is online?</li>
        </ul>

        <p>Pre release: </p>

        <ul>
            <li>Set Google Analytics</li>
            <li>Buy icons</li>
            <li>Buy hosting plan and set everything up</li>
            <li>Create Facebook and Twitter pages</li>
            <li>Create project email address</li>
        </ul>
    </div>

    <div class="col-md-6">
        <div class="shouts-view-container"></div>
        <div class="clearfix"></div>
        {{ form(form) }}
    </div>

    <script type="text/template" id="musicianBoxTemplate">
        <% mu = sh.musician %>
        <div class="col-md-12 musician-box <% if(mu.teacher){ %>teacher<% } %>">
            <div class="col-md-3">
                <a href="{{ app.request.getBaseURL() }}/m/<%- mu.username %>" class="musician-box-image-link img-circle">
                    <img src="{{ app.request.getBaseURL() }}/m/<%- mu.username %>/avatar" class="" width="50" />
                </a>
                <div class="musician-box-details">
                    <a href="{{ app.request.getBaseURL() }}/m/<%- mu.username %>"><%- mu.username %></a> <br />
                    <% if (mu.location) { %><span class="musician-box-location"><i class="glyphicon glyphicon-map-marker"></i> <%- mu.location %></span><% } %>
                    <span class="musician-box-genres">
                        <% _.each( mu.genres, function(v, k){ %>
                            <% if (k!=0){ %>|<% } %>
                            <%- v %>
                        <% }); %>
                    </span>
                </div>
            </div>
            <div class="col-md-9">
                <p><%- sh.text %></p>
                <hr />
                <span class="shout-created-at"><i class="glyphicon glyphicon-time"></i> <%- sh.createdAt.date %></span>
            </div>
        </div>
    </script>

{% endblock %}

{% block javascripts %}

<script>

    _.templateSettings.variable = "sh";
    var musicianBoxTemplate     = _.template($( "#musicianBoxTemplate" ).html());

    $.ajax({
        url: baseURL+'/shouts/find'
        //data: data
    }).done(function( result ) {
        if (result.status == 'success'){
            $.each(result.data, function(k, v){
                $( ".shouts-view-container" ).append(musicianBoxTemplate( v ) );
            });
        }
    });

</script>

{% endblock %}