{% extends '::base.html.twig' %}

{% block body %}

    <div class="col-md-6">
        <p>TODO: </p>

        <ul>
            <li>User image gallery. Gallery wall</li>
            <li>Login with social networks</li>
            <li>Connection to Soundcloud</li>
            <li>Connection to Facebook, invite friends</li>
            <li>Connection to Last.fm</li>
            <li>Teachers profile</li>
            <li>Shout to the people around you</li>
        </ul>

        <p>Pre release: </p>

        <ul>
            <li>Set Google Analytics</li>
            <li>Buy icons</li>
            <li>Buy hosting plan and set everything up</li>
            <li>Create Facebook and Twitter pages</li>
            <li>Create project email address</li>
        </ul>
    </div>

    <div class="col-md-6">
        {{ form(form) }}
    </div>




{% endblock %}
