{% extends '::base.html.twig' %}

{% block body %}

    <p>TODO: </p>

    <ul>
        <li>User image gallery. Gallery wall</li>
        <li>Login with social networks</li>
        <li>Connection to Soundcloud</li>
        <li>Connection to Facebook, invite friends</li>
        <li>Connection to Last.fm</li>
        <li>Rate yourself. How good do you think you are? (1-10)</li>
        <li>Teachers profile</li>
    </ul>

{% endblock %}
