{% extends '::base.html.twig' %}

{% block body %}

    <p>TODO: </p>

    <ul>
        <li>Geolocation API integration</li>
        <li>User image gallery</li>
        <li>Messaging system</li>
        <li>Login with social networks</li>
        <li>Searches</li>
        <li>Add Jammers</li>
        <li>Send Jam Request</li>
        <li>Notifications in MongoDB</li>
        <li>Connection to Soundcloud</li>
        <li>Connection to Last.fm</li>
    </ul>

{% endblock %}