{% extends '::base.html.twig' %}

{% block bodystyle %}background-image: url({{ asset('assets/images/background-dashboard.jpg') }}){% endblock %}

{% block body %}

    <section class="col-sm-8 col-md-10 main-content">
        <div class="main-content-inner">

            <br />

            <h1>Terms & Conditions</h1>

            <div class="clearfix" style="overflow: scroll; height: 600px;">
                    {% include 'JamWebBundle:Home:termsRaw.html.twig' %}

                    {% if is_granted("ROLE_USER") %}
                        <div class="clearfix">
                            <br />
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <a href="{{ path('accept-terms') }}" class="btn btn-primary"><i class="fa fa-thumbs-o-up"></i> Accept</a>
                            </div>

                            <div class="col-md-4 pull-right col-sm-6 col-xs-6">
                                <a href="{{ path('fos_user_security_logout') }}" type="button" class="btn btn-default"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Deny</a>
                            </div>
                            <br /><br />
                        </div>
                    {% endif %}

            </div>
        </div>
    </section>

{% endblock %}