<p>
    By using the Jamifind website or app or other websites or services made available by
    Jamifind Oy (all websites and services together "Service") you agree to be bound by these
    Terms of Use (“Terms” or “Agreement”), whether or not you register to the Service as a
    user. A description of the Service and information on system requirements, functionalities
    and interoperability of the Service are available on the Jamifind website.
</p>

<p>
    The Service is provided by Jamifind Ltd, a Finnish company (Business ID 2634457-3) with
    post address at Kaisaniemenkatu 4 A, 00100 Helsinki, Finland. These Terms constitute a
    binding agreement between you and Jamifind Oy (“Jamifind”).
</p>

<p>
    These Terms set out the legally binding terms of your use of the Service and may be
    modified by Jamifind from time to time, such modifications to be effective upon posting by
    Jamifind in connection to the Service. If you are an existing user of the Service, by
    continuing to use the Service following such modifications you agree to be bound by the
    amended Terms after a period of 1 month from the date of Jamifind posting the Terms in
    connection to the Service. The use of the Service is governed also by Jamifind’s Privacy
    Policy and Jamifind's Acceptable Use Policy for Content Posted on the Service which
    policies are incorporated into these Terms by this reference.
</p>

<p>
    <strong>Registration.</strong> As part of the registration process to the Service, you shall provide accurate
    and complete registration and other information to Jamifind as requested by Jamifind. If
    you register as a private person, you confirm that you are at least 13 years old and have
    the legal capacity to accept and be bound by these Terms and/or have obtained your legal
    guardian’s consent where necessary. If you register as a company, association or any
    other legal entity, you confirm that such entity and each person using the Service on behalf
    of such entity accepts these Terms. The representative registering a legal entity
    represents and warrants that he or she is authorized to bind the entity to this Agreement.
    You are liable for keeping your user name and password used for registering to the
    Service confidential. You are responsible for all use of your user account. We may provide
    a possibility to use third parties like Soundcloud and Facebook to create and authorize
    user accounts. By using such third-party services, you agree to their terms of use, privacy
    policy, and other agreements between you and them. By registering to the Service and
    purchasing a subscription thereto, you give your consent to the immediate digital delivery
    of the Service to you by Jamifind. You acknowledge that upon being granted access to the
    Service you lose your right as a consumer to withdraw from the Agreement and therefore
    your purchase of a subscription to the Service cannot be withdrawn by you.
</p>

<p>
    <strong>Term.</strong> This Agreement will remain in full force and effect while you use the Service either
    as an unregistered or registered user. By accessing the Resign page in the account
    settings of the Service, you may terminate your user profile and/or subscription to the
    Service at any time and for any reason, whereupon you will continue to have access to
    any subscribed part of the Service until the end of your billing period. Jamifind may
    terminate your profile for any reason, effective upon sending notice to you at the e-mail
    address you provide in your application for become a user, or such other e-mail address
    as you may later provide to Jamifind. Provisions of this Agreement intended to survive the
    termination or expiry of this Agreement shall do so.
</p>

<p>
    <strong>Use of Service.</strong> Jamifind may modify and update the Service and may cease to provide
    the Service in whole or in part. You are responsible for obtaining the equipment,
    connections and software required for using the Service. Illegal and/or unauthorized uses
    of the Service, including collecting usernames and/or e-mail addresses of users by
    electronic or other means for the purpose of sending unsolicited e-mail and unauthorized
    framing of or linking to the Service will be investigated, and appropriate legal action will be
    taken, including without limitation, civil, criminal, and injunctive redress. You agree not to
    reverse engineer, hack or decompile the Service. Further, you agree to comply with all
    applicable export control laws and regulations.
</p>

<p>
    <strong>Intellectual Property Rights.</strong> Jamifind and its licensors own and retain all intellectual
    property rights in the Service. The JAMIFIND name and logo are trademarks of Jamifind
    Oy, and may not be copied, imitated or used, in whole or in part, without the prior written
    permission of Jamifind. Nothing in this Agreement shall constitute a transfer of any
    intellectual property rights to you.
</p>


<p><strong>Content Posted on the Site.</strong>

<ol style="padding-left: 20px">
    <li>Jamifind does not monitor or review the content uploaded by the users, but
        reserves the right to remove any user content for any reason. You
        understand and agree that Jamifind may review and delete any content,
        messages, Jamifind Messenger messages, photos, videos or profiles.</li>

    <li>You are solely responsible for all the content that you publish or display on
        the Service, or transmit to other users. </li>

    <li>Jamifind disclaims any responsibility for the backup and/or retention of any
        user content transmitted to the Service. </li>

    <li>You may not post, distribute, or copy any copyrighted material, trademarks,
        or other proprietary information without obtaining the prior written consent of
        the owner of such proprietary and other (e.g. personality) rights. By posting
        content to the Service, you automatically grant, and you represent and
        warrant that you have the right to grant, to Jamifind an irrevocable, perpetual,
        non-exclusive, fully paid, worldwide license to use, copy, perform, display,
        and distribute such information and content and to prepare derivative works
        of, or incorporate into other works, such information and content, and to
        grant and authorize sublicenses of the foregoing. </li>

    <li>The following is a partial list of the kind of user content that is illegal or
        prohibited on the Service. Jamifind reserves the right to investigate and take
        appropriate legal action in its sole discretion against anyone who violates this
        provision, including without limitation, removing the offending communication
        from the Service and terminating the user profile of such violators. It includes

        Content that:
        <ul style="list-style-type: circle; padding-left: 40px;">
            <li>Is patently offensive to the online community, such as content that
                promotes racism, bigotry, hatred or physical harm of any kind against
                any group or individual;
            </li>
            <li>Harasses or advocates harassment of another person; </li>
            <li>Involves the transmission of "junk mail", "chain letters," or unsolicited
                mass mailing or "spamming";</li>
            <li>Promotes information that you know is false, misleading or promotes
                illegal activities or conduct that is abusive, threatening, obscene,
                defamatory or libelous; </li>
            <li>Promotes an illegal or unauthorized copy of another person's
                copyrighted work, such as providing pirated computer programs or
                links to them, providing information to circumvent manufacture-
                installed copy-protect devices, or providing pirated music or links to
                pirated music files; </li>
            <li>Contains restricted or password only access pages, or hidden pages
                or images (those not linked to or from another accessible page); </li>
            <li>Provides material that exploits people under any age in a sexual or
                violent manner;</li>
            <li>Provides instructional information about illegal activities such as
                making or buying illegal weapons, violating someone's privacy, or
                providing or creating computer viruses; </li>

            <li>Solicits passwords or personal identifying information for commercial
                or unlawful purposes from other users; and </li>

            <li>Engages in commercial activities and/or sales without our prior written
                consent such as contests, advertising </li>

        </ul>

    <li>You must use the Service in a manner consistent with any and all applicable
        laws and regulations. </li>

    <li>You may not transmit any chain letters or junk e-mail to other users.</li>

    <li>In case the user content you upload to the Service contains any personal
        data of third parties, you act as data controller of such personal data. </li>
</ol>
</p>

<p>
    <strong>Fees and Subscription.</strong> The fees applicable to using the Service are made available at
    the Jamifind website. Fees may vary in different territories and for different customers and
    subscriptions. Jamifind may also offer free of charge subscriptions. By purchasing a
    subscription to the Service, you authorize Jamifind to charge you a monthly subscription
    fee indicated on the Jamifind website either by invoicing you or through automatically
    billing your credit card or by other means described on the Jamifind website. Subscriptions
    will be automatically renewed unless terminated by the user within 1 day from the next
    billing date. If you terminate your subscription, the termination will take effect on the day
    after the last day of the current billing period. Jamifind will not refund any subscription fees
    already paid by you. Jamifind may change the fees charged for the subscriptions by
    providing you with a prior notice. By continuing to use the Service after such price change,
    you accept the amended fees.
</p>

<p>
    <strong>Links.</strong> The Service may contain links to third-party websites. Jamifind’s inclusion of a link
    to a third-party website does not in any way imply Jamifind’s endorsement, advertising, or
    promotion of such materials. Jamifind has no liability for such third-party websites.
</p>

<p>
    <strong>E-mail Opt-Out.</strong> When joining Jamifind, you agree to periodic e-mails designed to improve
    your experience of the Service. These e-mails include messages with information on
    potential musician matches, message notifications, and system notifications. You can opt-out of any or all of these messages by changing the settings of your account.
</p>

<p>
    <strong>No warranty.</strong> THE SERVICE AND THE SERVICE ARE PROVIDED "AS IS" AND TO THE
    MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, JAMIFIND MAKES NO
    WARRANTY, EXPRESS OR IMPLIED WITH RESPECT TO THE SERVICE AND
    EXPRESSLY DISCLAIMS ANY WARRANTY OF FITNESS FOR A PARTICULAR
    PURPOSE, MERCHANTABILITY, AVAILABILITY, ACCURACY OR NON-
    INFRINGEMENT. Jamifind cannot guarantee and does not promise any specific results
    from use of the Service and/or the Service. Further, Jamifind is not responsible for the
    conduct, whether online or offline, of any user of the Service. Under no circumstances will
    Jamifind be responsible for any loss or damage resulting from anyone's use of the Service,
    any content posted on the Service or transmitted to users, or any interactions between
    users of the Service, whether online or offline. <strong>Depending on where you live, this
        section may not apply to you. This section does not limit Jamifind’s statutory
        liability for defects or delays in the Service or your statutory remedies under any
        applicable mandatory consumer protection laws. </strong>
</p>

<p>
    <strong>Governing law and disputes.</strong> Unless otherwise required by a mandatory law, this
    Agreement shall be governed by and construed in accordance with the laws of Finland,
    without reference to its conflict of laws provisions. All disputes shall be settled by the
    district court of Helsinki, Finland, unless otherwise stipulated by mandatory law. Finnish
    consumers may initiate proceedings in the court of their domicile or refer a dispute to the
    Finnish Consumer Disputes Board (please see kuluttajariita.fi).
</p>

<p>
    <strong>Indemnity. </strong>You agree to indemnify and hold Jamifind, its subsidiaries, affiliates, officers,
    agents, partners, and employees harmless from any loss, liability, claim, or demand,
    including reasonable attorney's fees, made by any third party due to or arising out of your
    use of the Service in violation of this Agreement and/or arising from a breach of this
    Agreement.
</p>

<p>
    <strong>Other.</strong> This Agreement contains the entire agreement between you and Jamifind
    regarding the use of the Service. If any provision of this Agreement is held invalid, the
    remainder of this Agreement shall continue in full force and effect.
</p>

<p>
    <strong>Questions?</strong> Should you have any questions, you may contact us at <a href="mailto:info@jamifind.com">info@jamifind.com</a>.
</p>