html, body {
	min-height: 100%;
}

body {
	background: $brand-primary;
	color: $color-primary;
	font-family: "Hind Medium";
	padding-top: 55px;
	overflow: hidden;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	@include respond-to(tablet) {
		overflow: auto;
	}
	@include respond-to(handhelds) {
		background: #fff !important;
	}
}

.container-fluid {
	max-width: 1400px;
	position: relative;
}

.main-fluid {
	@include transition(left 0.1s linear);
	left: 0;
	position: relative;

	&.is-active {
		position: fixed;
		width: 100%;
		@include respond-to(handhelds) {
			left: 154px;
		}
	}
}

.main-row {
	@include respond-to(tablet) {
		margin-right: 0;
	}
	@include respond-to(handhelds) {
		margin: 0 -10px;
	}
}

.main-content {
	// background: #fff;
	// padding: 20px 20px 10px;
	padding: 0;
	// @include respond-to(tablet) {
		// padding-top: 15px;
	// }
	@include respond-to(handhelds) {
		clear: both;
		// padding: 30px 10px 20px;
	}

	&.col-md-10 {
		// background: #fff;
		padding-bottom: 10px;
		padding-right: 15px;
		@include respond-to(tablet) {
			padding: 0 15px;
			// padding: 0;
		}

		.page-musicians-filter & {
			padding-right: 0;
		}

		.page-settings & {
			@include respond-to(tablet) {
				padding: 0 0 10px;
			}

			> .main-content-inner {
				@include respond-to(tablet) {
					padding: 0 15px;
				}
				@include respond-to(handhelds) {
					padding-bottom: 15px;
				}
			}
		}

		.page-profile & {

			> .main-content-inner {
				padding: 0 0 0 14px;
				@include respond-to(tablet) {
					padding: 0;
				}
			}
		}

		.page-messages & {
			@include respond-to(tablet) {
				padding: 0;
			}
		}
	}
}

.main-content-inner {
	background: rgba(255, 255, 255, 0.97);
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	padding-left: 20px;
	padding-right: 20px;
	@include respond-to(tablet) {
		padding-top: 15px;
	}
	@include respond-to(handhelds) {
		padding: 15px 15px;
	}

	.teacher-container & {
		padding: 0;
	}

	.login-page & {
		background: none;
	}
}

// .main-content-inner.with-scrollbar {
// 	padding-right: 1.5%;
// 	width: 101.5%;
// }
