{% extends 'JamUserBundle::noAuthLayout.html.twig' %}

{% block bodyclasses %}login-page{% endblock %}

{% block fos_user_content %}

    <div class="container-fluid">
        <div class="login-container">
            {% include 'JamUserBundle:Security:login_content.html.twig' %}
        </div>
    </div>

{% endblock fos_user_content %}
