{% extends 'JamWebBundle:Email:emailLayout.html.twig' %}

{% block email_body %}

    {% trans_default_domain 'FOSUserBundle' %}
    {% block body_text %}
    {% autoescape false %}
    {{ 'registration.email.message'|trans({'%user.username%' : user.username })|desc('Hello %user.username%! \n\n To finish activating your account - please visit ') }}
        <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
    {% endautoescape %}
    {% endblock %}
    {% block body_html %}{% endblock %}

{% endblock %}